.edit-field-container {
   background: $app-primary;
}

.edit-field { 
   width: 100%;
   height: 50vh;
   margin-left: 2rem;

   h2 {
      color: $font-color-primary;
   }

   textarea {
      display: block;
      height: 20%;
      width: 90%;
      margin: 2rem;
      margin-left: 0;
   }


}