//Global
$okc-blue: #084aa4;
$okc-white: #fafbfd;
$okc-secondary-white: #f3f5f9;
$okc-green:  #00d57f;
$okc-green-darker:  #00b66d;
$okc-grey: #3d4351;

//Primary Variables:
$font-color-primary: $okc-grey;
$background-primary: $okc-blue;
$app-primary: $okc-white;
$app-secondary: $okc-secondary-white;
$button-success: $okc-green;
$button-success-hover: $okc-green-darker;

//Utility
@import "./util";

//Components
@import "./components/App";
@import "./components/AboutMeEdit";
@import "./components/AboutMeForm";
@import "./components/AboutMeFormList";
@import "./components/AboutMeFormEssay";
